<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template"> 
<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Chats</title>
</head>
<body>
<divbody>
<div th:replace="template">
</div>
<div class="container mt-5">
<div class="card">
 <div class="card-header">
 Modifier les Chats
 </div>
 <div class="card-body">
<form th:action="@{saveFreelancer}" method="post">
<div class="form-group">
<label class="control-label" hidden>ID Chat :</label>
 <input type="hidden" name="idChat" class="form-control"
th:value="${chat.idChat}" />
</div>
<div class="form-group">
<label class="control-label">Nom Chat :</label>
<input type="text" name="nomChat" class="form-control"
th:value="${chat.nomChat}" />
<span th:errors= ${chat.nomChat} class="text-danger">
</span>
</div>
<div class="form-group">
<label class="control-label">Prix Adoption :</label>
 <input type="text" name="PrixAdoption" class="form-control"
th:value="${chat.prixAdoption}" />
 <span th:errors=${chat.prixAdoption} class="text-danger">
</span>
</div>
<div class="form-group">
<label class="control-label">date de Naissance :</label>
<input type="date" name="datenaissance" class="form-control" 
th:value="${chat.datenaissance}"/>
<span th:errors=${chat.datenaissance} class="text-danger">
</span>
</div>
<div>
<button type="submit" class="btn btn-primary">Valider</button>
</div>
</form>
</div>
</div>
</div>
</div>
</body>
</html>